.body {
  /* background-color: rgb(151, 180, 33); */
  /* min-height: 90vh; */
  z-index: 1;
  /* display: unset; */
  overflow: visible;
}

.upBtnDiv {
  position: fixed;
  right: 2%;
  bottom: 8%;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  cursor: pointer;
  z-index: 3;
}

#upBtn {
  text-align: center;
  font-size: x-large;
  font-weight: 900;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #dddf00;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 3;
  transition: 1s;

}

#upBtn:hover {
  background-color: #9da003;

}

.banner {
  text-align: center;
  background-color: #e63946;
  color: #f1faee;
  height: 1.3rem;
  letter-spacing: 0.1rem;
  /* position: fixed; */
  top: 0;
  width: 100%;
  white-space: nowrap;
  opacity: 0.9;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

/* NAVBAR STARTS */

/* .dummynavbarSpace {
  height: 5.8rem;
  columns: white;
} */

.navbar {
  display: flex;
  height: 4.5rem;
  background-color: #1d3557;
  color: #f1faee;
  white-space: nowrap;
  width: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  /* align-self: flex-start;
  height: auto; */
  opacity: 0.9;

}

/* .fakeNavSpace {
  width: 100%;
  height: 4.5rem;
  background-color: #fff;
} */

.sticky {
  /* position: fixed; */
  top: 1.3rem;
  width: 100%;

  z-index: 1;
}

.navbarDivRight {
  /* background-color: aqua; */
  flex: 0.4;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

}

.navbarDivRight a {
  margin: 25px;
  letter-spacing: 0.1rem;
  transition: 1s;

  background-image: linear-gradient(to right, #ffffff, #ffffff);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  /* Adjust the thickness of the underline */
  transition: background-size 0.5s ease-in-out;
  /* Set the desired transition duration */

}

#anchor:hover {
  background-size: 100% 2px;
  cursor: pointer;
}

.navbarDivLeft {
  /* background-color: blueviolet; */
  position: relative;
  flex: 0.6;
  padding: 5px;
  letter-spacing: 0.1rem;
  margin: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}


/* NAVBAR ENDS */


/* INTRO BEGINS */

.intro {
  background-color: #ffffff;
  color: #14213d;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-image: url('../public/IntroImg1.svg');
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: 135% 95%;
}




.introDiv {
  /* background-color: aqua; */
  width: 55%;

  text-align: left;
  padding: 2rem;
  margin-left: 3%;
}

.introDivImg {
  background-image: url('../public/IntroImg1.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 50%;
  /* background-color: #e63946; */
}

#intro1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 3% 0 0 0;
  letter-spacing: 0.1rem;
  font-size: small;

}

#H1 {
  margin: 1% 0 0 0;
  letter-spacing: 0.15rem;
  font-size: xxx-large;

  background: linear-gradient(45deg, #f72585 10%, #ffba08 50%, #8338ec 40%);
  padding: 4px;
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-stroke: 6px transparent;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#intro2 {
  margin: 3% 0 0 0;
  /* padding: 10px; */

}

#intorPara {
  /* background-color: antiquewhite; */
  margin: 2% 0 0 0;

  width: 90%;
}

#introBtn {
  margin: 3% 0% 0 0;
  width: 10rem;
  height: 2.5rem;
  /* padding: 2%; */
  padding: 5px;
  letter-spacing: 0.05rem;
  border: none;
  cursor: pointer;
  background-color: #e63946;
  color: #f1faee;
  transition: 1s;

  /* border-radius: 4rem; */
}

#introBtn:hover {

  margin: 3% 0 0 0;
  width: 10rem;
  height: 2.5rem;
  /* padding: 2%; */
  padding: 5px;
  letter-spacing: 0.05rem;
  border: none;
  cursor: pointer;
  background-color: #9f1a25;
  color: #ffffff;
}

/* SPECIALITIES BEGINS */

.SpecialitiesSection {
  min-height: 110vh;
  background-color: #14213d;
  color: #e5e5e5;
  padding: 20px;

}



.SpecialitiesDiv {
  /* background-color: #1d3557; */
  text-align: center;
  position: relative;
  top: 2rem;
  padding: 10px;
}

#SpecialitiesPara {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 5.5% 0 0 0;
  letter-spacing: 0.1rem;
  font-size: small;

  position: relative;
}

#SpecialitiesHeader {
  margin: 1%;
  letter-spacing: 0.15rem;
  font-size: xx-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.SpecialitiesCardParent {
  padding: 60px;
  text-align: center;
  /* background-color: #e63946; */
  position: relative;
  top: 2.0rem;
  margin-top: -2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.SpecialitiesCard {
  padding: 20px;
  margin: 2%;
  width: 18rem;
  height: 18rem;
  /* border: 2px solid black; */
  border-radius: 2rem;
  background-color: #fca311;
  color: #14213d;
  transition: 1s;


}

.SpecialitiesCard:hover {
  padding: 20px;
  margin: 2%;
  width: 18rem;
  height: 18rem;
  /* border: 2px solid black; */
  border-radius: 2rem;
  background-color: #76c893;
  transform: scale(1.1, 1.1);
  color: #14213d;


}

#SpecialitesCardImg {
  position: relative;
  top: 2rem;
}

#SpecialitiesCardHead {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 0.1rem;
  font-size: larger;
  position: relative;
  top: 3rem;
  white-space: nowrap;

}

.SpecialitiesCardPara {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: relative;
  top: 4rem;
}

.SpecialitesDivBtn {
  margin-top: -1.5%;
  text-align: center;
  position: relative;
  top: 2rem;
  /* background-color: #8338ec; */
  padding: 10px;

}

#SpecialitesBtn {

  /* margin: 3% 0% 0 0; */
  width: 10rem;
  height: 2.5rem;
  /* padding: 2%; */
  padding: 5px;
  letter-spacing: 0.05rem;
  border: none;
  cursor: pointer;
  background-color: #e63946;

  color: #f1faee;
  transition: 1s;
  /* border-radius: 2rem; */

}

#SpecialitesBtn:hover {

  width: 10rem;
  height: 2.5rem;
  /* padding: 2%; */
  padding: 5px;
  letter-spacing: 0.05rem;
  border: none;
  cursor: pointer;
  background-color: #0a9396;

  color: #ffffff;
}

/* SPECIALITIES END */

/* SERVICES STARTS */

.ServicesSection {
  min-height: 110vh;

  background-color: #ffffff;
  color: #2b2d42;

}

#ServicesHeader {
  position: relative;
  text-align: center;
  top: 0.1rem;
  /* margin: 1%; */
  margin-bottom: 1%;
  letter-spacing: 0.15rem;
  font-size: xx-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ServicesCarouselContainer {
  position: relative;
  top: 2rem;


}

.ServicesDiv {
  /* width: 50%; */
  position: relative;
  /* background-color: #6b7dad; */
  top: 5rem;
  margin-left: 3%;
  margin-right: 3%;

  /* height: 200px; */

}


.card {
  /* position: relative; */
  /* top: 8rem; */
  flex: 0 0 100%;
  scroll-snap-align: start;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 10px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-right: 20px;
  display: flex;
  align-items: center;

  background-color: #e4e6c3;

  color: #14213d;
}

.card:last-child {
  margin-right: 0;
}

.card img {
  width: 40%;
  /* height: auto; */
  height: 33rem;
  object-fit: cover;
  border-radius: 4px;
  transition: 2s;
}

.card img:hover {
  transform: scale(1.07, 1.07);

}

.cardContent {
  overflow: visible;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: left;
  position: relative;
  /* left: 10%; */
  padding: 10px;
  margin-left: 10rem;
  /* border: 2px solid black; */
  max-width: 30rem;
  min-height: 400px;
}

.card h3 {

  position: relative;
  /* text-align: center; */
  top: 4.5rem;
  font-size: xxx-large;
  margin: 1%;
  letter-spacing: 0.15rem;
  margin-bottom: 10px;
  /* font-size: 24px; */
  color: #14213d;
  font-weight: bold;
}

.card p {
  font-size: 18px;
  color: #14213d;
  overflow: visible;
  margin: 1%;
  font-family: "dm sans", sans-serif;
  position: relative;
  top: 5rem;
  line-height: 1.5;


}

.card button {
  position: relative;
  top: 7rem;
  margin: 1%;

  width: 10rem;
  height: 3rem;
  /* padding: 2%; */
  padding: 5px;
  letter-spacing: 0.05rem;
  border: none;
  cursor: pointer;
  background-color: #f7aa2e;
  color: #14213d;
  transition: 1s;

}

.card button:hover {
  background-color: #b7760d;
  color: #ffffff;
}

/* SERVICES ENDS */


/* FLOW PROCESS BEGINS */

.FlowProcessSection {
  border-top: 10px solid black;
  min-height: 380vh;
  background-color: #ffffff;
  color: #2b2d42;
}

.FlowProcessHeader {
  text-align: center;
  position: relative;
  top: 4rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  margin-bottom: 1%;
  letter-spacing: 0.15rem;
  font-size: xx-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.FlowProcessDiv {
  position: relative;
  top: 8rem;
}