.page {
    margin: 0px;
    background-color: #edf6f9;
}

#stepperSection {
    /* border: 2px solid black; */
    background-color: #14213d;
    padding: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: #e5e5e5
}



#stepperSection h1 {
    text-align: center;
    margin-bottom: 2.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    letter-spacing: 0.10rem;
}



#stepperButtonDiv {
    padding: 10px;
    margin-top: 2.5em;
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


#stepperButtonDiv div {
    /* border: 2px solid black; */
    flex: 1;
    height: 3em;

    display: flex;
    align-items: center;
    justify-content: center;
}


#stepperSection button {
    width: 10rem;
    height: 2.5rem;
    padding: 5px;
    letter-spacing: 0.05rem;
    font-weight: 100;
    border: none;
    cursor: pointer;
    background-color: #fca311;
    color: #fefae0;
    transition: 1s;
}

#stepperSection button:hover {
    background-color: #bd7b11;
    color: #ffffff;
}

#ContributeSection {
    /* border: 2px solid white; */
    padding: 15px;

}


.suppliersHeaderSection {
    text-align: center;
    /* padding: 15px; */
    font-family: 'Montserrat', sans-serif;
    /* border: 10px solid; */
}

.suppliersHeaderSection h1 {
    font-size: xx-large;
    background-color: #83c5be;
    padding: 15px;
    width: 100%;
    margin-bottom: 1em;
}

.suppliersHeaderSection h2 {
    font-size: x-large;
    /* text-decoration: underline; */
    margin-top: 0.5em;
}

.suppliersHeaderSection h2:nth-of-type(2) {
    font-size: x-large;
    text-decoration: underline;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.suppliersHeaderSection button {
    margin-top: 1.2em;
    margin-bottom: 2.5em;
    width: 11rem;
    height: 2.9rem;
    padding: 5px;
    letter-spacing: 0.05rem;
    font-weight: 100;
    border: none;
    cursor: pointer;
    background-color: #ef233c;
    color: #fefae0;
    border-radius: 2em;
    transition: 1s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.suppliersHeaderSection button:hover {

    background-color: #ab0521;

}

.ContributeForm div {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1.2em;
    align-items: center;
}

.ContributeForm div input {
    padding: 10px;
    border-radius: 2em;
}